{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/dannywebsite/css/pygments.css"/>
{% endblock %}

{% block title %}
Danny Milsom | Blog
{% endblock %}

{% block message %}
<div class="container">
  <section id="blog-post-body" class="row post-summary">
    <div class="col-lg-12 col-md-12">
      <h1>{{ post.title }}</h1>
      <p>{{ post.message|safe|linebreaks }}</p>
    </div>
  </section>
  <section id="blog-links" class="row text-center">
    <a href="/blog/{{ prev_post.slug }}"
       class="btn btn-default pull-left post-previous"> Previous Post</a>
    <a href="/blog/tags/{{ post.tags|lower }}"
       class="btn btn-default">More {{ post.tags|title }} Posts</a>
    <a href="/blog/{{ next_post.slug }}"
       class="btn btn-default pull-right post-next">Next Post </a>
  </section>
  <section id="blog-comments" class="row">
    <div class="col-lg-12 col-md-12">
      {% load disqus_tags %}
      {% set_disqus_identifier post.slug %}
      {% set_disqus_url absolute_url %}
      {% disqus_dev %}
      {% disqus_show_comments %}
    </div>
  </div>
</div>
{% endblock %}

