html { overflow-y: scroll; }

body {
  background-color: $soundcloud-white;
  background-repeat: repeat;
  font-family: $main-font;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  color: $burgandy;
  text-align: center;
}

h1, h2 { font-weight: 700; }

h1 a:visited,
h2 a:visited {
  color: #B22222;
}

h3 a {color: $burgandy; }

a {
  color: $burgandy;
  text-decoration: underline;

  &:hover { outline: none; }

  &:hover { color: #9D4646; }

  &:active { text-decoration: underline; }
}

blockquote {
  font-size: 16px;
  border-left: 8px solid #9D4646;
}

p {
  line-height: 1.6;
  text-align: center;
}