/**** POST LIST *****/

.blog {
  @include section-padding();
  padding-bottom: 0;
  .blog-posts {
    @include section-padding();
  }
  .post-metadata {
    display: block;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .post-title {
    color: $burgandy;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }
  .post-date {
    font-weight: lighter;
    color: #808080;
    font-size: 14px;
  }
}


/**** SINGLE POST *****/

.single-blog-post {
  @include section-padding();
  color: #333;
  border-bottom: 0;
  padding-bottom: 5px;
  margin: 10px 0 5px 0;
  text-decoration: none;
  .section-header {
    p { text-align: center; }
  }
  p { text-align: left; }
  h2, h3 {
    font-size: 22px;
    text-align: left;
  }
}

.post-comments { margin-top: 20px; }

/***** CODE SNIPPETS *****/

pre {
  border: none;
  background-color: #EBE9E6;
  word-wrap: normal;
  overflow: auto;
}

.date {
  color: #999999;
  font-weight: 400;
}

.tags {
  border: 2px solid #EEE;
  height: 200px;
  font-size: 30px;
  color: $white;
  text-align: center;
  line-height: 200px;
  background-size: cover;
  cursor: pointer; 
}

.tags span:first-child {
  opacity: 0;
  font-weight: bold;
  color: #92131C;
}

#post-not-found img { margin-bottom: 20px; }
