.blog {
  @include section-padding();
}

.blog-preview {
  height: 300px;

  a {
    overflow: hidden;
    text-decoration: none;

    .img-wrapper {
      height: 100px;
      overflow: hidden;
      margin-bottom: 15px;
    }

    img {
      width: 100%;

      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover {
        -webkit-transform:scale(1.4); /* Safari and Chrome */
        -moz-transform:scale(1.4); /* Firefox */
        -ms-transform:scale(1.4); /* IE 9 */
        -o-transform:scale(1.4); /* Opera */
         transform:scale(1.4);
      }
    }
  }

  span { display: block; }
}

.post-title {
  color: $burgandy;
  font-size: 18px;
  display: block;
  text-decoration: none;
}

a span.post-date { text-decoration: none; }

.post-date {
  font-weight: lighter;
  color: #808080;
  font-size: 14px;
}

.post-summary { 
  color: #333;
  border-bottom: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 15px;
  text-decoration: none;
}

.post-summary h1 { font-size: 30px; }

.post-summary h2 { font-size: 24px; }

.post-summary-text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #333;
}

.blog-post-summary { margin-bottom: 5px; }

.blog-search { margin-bottom: 40px; }

#site-search {
  display: block;
  margin: 20px 0 40px;
  width: 100%;
  text-align: center;
}

.select2-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 300px;
}

#post-not-found img { margin-bottom: 20px; }

#blog-comments { margin-top: 20px; }

/***** CODE SNIPPETS *****/

pre {
  border: none;
  background-color: #EBE9E6;
  word-wrap: normal;
  overflow: auto;
}

.date {
  color: #999999;
  font-weight: 400;
}

.tags {
  border: 2px solid #EEE;
  height: 200px;
  font-size: 30px;
  color: $white;
  text-align: center;
  line-height: 200px;
  background-size: cover;
  cursor: pointer; 
}

.tags span:first-child {
  opacity: 0;
  font-weight: bold;
  color: #92131C;
}

.page-banner {
  @include section-padding();
  background: url('/static/dannywebsite/images/congruent_pentagon.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 240px;

  color:  $light-black;

  h1 { color: $light-black; }
}