/***** Media Queries *****/

@media(min-width: 600px){
  #portolio img { width: 50%; }
}

@media(max-width:767px){
  nav .navbar-header a { padding-left: 15px !important; }

  .post-list h3 { text-align: left; }

  #about p, #blog { padding: 0 15px; }
}

@media(min-width:768px){
  h1, h2 {
    display: block;
    font-weight: 600;
  }
  .post-previous, .post-next { font-size: 14px; }

  .blog-post-summary img.img-responsive { width: 55%; }

  #about .featurette { position: relative; }

  #about img { width: 15%; }

  .skill-category { margin-bottom: 20px; }

  #about img, #technical-skills img { width: 50%; }

  div.row.featurette { margin-bottom: 20px; }

  .lead { font-size: 16px; }
}

@media(min-width:992px){
  .blog-post-summary img.img-responsive { width: 30%; }

  .skill-info { top: 95px; }

  #about img, #technical-skills img { width: 30%; }

  div.row.featurette { margin-bottom: 0px; }

  #skills #portfolio img { width: 45%; }
}

@media(min-width:1200px){
  .blog-post-summary img.img-responsive { width: 80%; }

  #about img { width: 30%; }

  #technical-skills img { width: 25%; }

  .skill-info { top: 85px; }

  #about #portfolio img { width: 40%; }
}
