<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}

    {% block css %}
      <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans|Waiting+for+the+Sunrise'>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="{% static 'dannywebsite/css/dannymilsom.css' %}">
    {% endblock %}

    {% block header %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    {% load tags %}
    {% block nav %}
      {% include 'inc/nav.html' %}
    {% endblock %}
    <div class="content-wraper">
      {% block heading %}{% endblock %}

      {% block message %}{% endblock %}

      {% block photos %}{% endblock %}

      {% block pagination %}{% endblock %}
    </div>

    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'dannywebsite/js/dannymilsom.js' %}">
  </body>
</html>