{% extends "base.html" %}

{% block title %}
Danny Milsom | Blog
{% endblock %}

{% block message %}

<div class="container">
  {% if blog_list %}
    <section class="blog">
      <div class="section-header">
        {% if latest_posts %}
          <h1>Latest Blog Posts</h1>
          <p>Ramblings about web development...</p>
        {% else %}
          <h1>{{ topic|title }} Blog Posts</h1>
          <p>Ramblings about {{ topic|lower }}...</p>
        {% endif %}
      </div>
      <div class="blog-posts">
        <div class="row">
        {% for post in blog_list %}
          <a class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 post-metadata"
             href="/blog/{{ post.slug }}">
            <span class="post-title">{{ post.title }} </span>
            <span class="post-date">{{ post.date }} </span>
            <p class="post-summary">{{ post.summary }}</p>
          </a>
        {% endfor %}
        </div>
      </div>
    </section>
  {% else %}
    <h3> Whoops - looks like there are no blog posts with the tag {{ topic }}.</h3>
  {% endif %}
</div>
{% endblock %}

{% block pagination %}
<div class="container">
{% if blog_list.paginator.num_pages > 1 %}
  <div class="pagination" class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      {% for page in page_range %}
        {% if blog_list.number == page %}
          <a href="?page={{ page }}" class="current_page">{{page}}</a>
        {% else %}
          <a href="?page={{ page }}">{{page}}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
</div>
{% endblock %}

