{% extends "base.html" %}

{% block title %}
Danny Milsom | Blog
{% endblock %}

{% block message %}
<div class="page-banner">
  {% if latest_posts %}
    <h1>Latest Blog Posts</h1>
    <p>Ramblings about web development...</p>
  {% else %}
    <h1>{{ topic|title }} Blog Posts</h1>
    <p>Ramblings about {{ topic|lower }}...</p>
  {% endif %}
</div>
<div class="container">
  {% if blog_list %}
    <section class="blog">
      <div class="row">
      {% for post in blog_list %}
        <div class="blog-preview col-xs-12 col-sm-6 col-md-4">
          <a href="/blog/{{ post.slug }}"
             title="Read blog post">
              <div class="img-wrapper">
                <img src="/static/dannywebsite/images/book.jpg">
              </div>
              <span class="post-title">{{ post.title }} </span>
              <span class="post-date">{{ post.date }} </span>
              <span class="post-summary"> {{ post.summary }}</span>
          </a>
        </div>
      {% endfor %}
      </div>
    </section>
  {% else %}
    <h3> Whoops - looks like there are no blog posts with the tag {{ topic }}.</h3>
  {% endif %}
</div>
{% endblock %}

{% block pagination %}
<div class="container">
{% if blog_list.paginator.num_pages > 1 %}
  <div class="pagination" class="row">
    {% for page in page_range %}
      {% if blog_list.number == page %}
        <a href="?page={{ page }}" class="current_page">{{page}}</a>
      {% else %}
        <a href="?page={{ page }}">{{page}}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
  <div class="blog-search row">
    <div class="col-xs-12">
      <select id="site-search" class="hidden-xs center-block text-center"
              onchange="location = this.options[this.selectedIndex].value;">
        <option></option>
        <optgroup label="Categories">
          {% for category in categories %}
            <option value=/blog/tags/{{ category|lower }}>{{ category }}</option>
            {% endfor %}
        </optgroup>
        <optgroup label="Posts">
          {% for post in posts %}
            <option value=/blog/{{ post.slug }}>{{ post.title }}</option>
          {% endfor %}
        </optgroup>
      </select>
    </div>
  </div>
</div>
{% endblock %}

