/* Colours */
.pagination {
  display: block;
  text-align: center; }
  .pagination a {
    border: 1px solid #b9c1c8;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none; }
    .pagination a.current_page {
      background-color: #3a0000;
      color: #fff;
      font-weight: 700; }
  .pagination .previous,
  .pagination .next {
    font-size: 0;
    margin: 0 15px; }
  .pagination .previous::before {
    content: "\2190";
    font-size: 14px;
    display: inline; }
  .pagination .next::after {
    content: "\2192";
    font-size: 14px; }

.block {
  display: block; }

.hidden {
  display: none; }

.focused {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.lead {
  font-size: 18px; }

.textinput {
  margin-bottom: 5px; }

.textarea {
  margin-bottom: 5px; }

.warning-message {
  text-decoration: underline; }

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
  margin-bottom: 20px; }
  .about p {
    color: #1b0d0d; }
  .about img {
    margin-left: auto;
    margin-right: auto;
    width: 35%; }
  .about span.lead {
    display: block;
    font-weight: 700;
    text-align: center; }

.about img,
.technical-skills img {
  margin-bottom: 10px;
  width: 25%; }

.welcome-banner {
  background: url("http://s3.amazonaws.com/usersthink/06-large.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 1000px; }

html {
  overflow-y: scroll; }

body {
  background-color: #f2f2f2;
  background-repeat: repeat;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  color: #3a0000;
  text-align: center; }

h1, h2 {
  font-weight: 700; }

h1 a:visited,
h2 a:visited {
  color: #B22222; }

h3 a {
  color: #3a0000; }

a {
  color: #3a0000;
  text-decoration: underline; }
  a:hover {
    outline: none; }
  a:hover {
    color: #9D4646; }
  a:active {
    text-decoration: underline; }

blockquote {
  font-size: 16px;
  border-left: 8px solid #9D4646; }

p {
  line-height: 1.6;
  text-align: center; }

.blog {
  padding-top: 60px;
  padding-bottom: 60px; }

.blog-preview {
  height: 300px; }
  .blog-preview a {
    overflow: hidden;
    text-decoration: none; }
    .blog-preview a .img-wrapper {
      height: 100px;
      overflow: hidden;
      margin-bottom: 15px; }
    .blog-preview a img {
      width: 100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .blog-preview a img:hover {
        -webkit-transform: scale(1.4);
        /* Safari and Chrome */
        -moz-transform: scale(1.4);
        /* Firefox */
        -ms-transform: scale(1.4);
        /* IE 9 */
        -o-transform: scale(1.4);
        /* Opera */
        transform: scale(1.4); }
  .blog-preview span {
    display: block; }

.post-title {
  color: #3a0000;
  font-size: 18px;
  display: block;
  text-decoration: none; }

a span.post-date {
  text-decoration: none; }

.post-date {
  font-weight: lighter;
  color: #808080;
  font-size: 14px; }

.post-summary {
  color: #333;
  border-bottom: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 15px;
  text-decoration: none; }

.post-summary h1 {
  font-size: 30px; }

.post-summary h2 {
  font-size: 24px; }

.post-summary-text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #333; }

.blog-post-summary {
  margin-bottom: 5px; }

.blog-search {
  margin-bottom: 40px; }

#site-search {
  display: block;
  margin: 20px 0 40px;
  width: 100%;
  text-align: center; }

.select2-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 300px; }

#post-not-found img {
  margin-bottom: 20px; }

#blog-comments {
  margin-top: 20px; }

/***** CODE SNIPPETS *****/
pre {
  border: none;
  background-color: #EBE9E6;
  word-wrap: normal;
  overflow: auto; }

.date {
  color: #999999;
  font-weight: 400; }

.tags {
  border: 2px solid #EEE;
  height: 200px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  background-size: cover;
  cursor: pointer; }

.tags span:first-child {
  opacity: 0;
  font-weight: bold;
  color: #92131C; }

.page-banner {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("/static/dannywebsite/images/congruent_pentagon.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 240px;
  color: #1b0d0d; }
  .page-banner h1 {
    color: #1b0d0d; }

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2c3e50;
  color: #fff; }
  .contact .section-header:after {
    background-color: #f2f2f2; }
  .contact h2 {
    color: #fff; }
  .contact a {
    color: #fff;
    text-decoration: underline; }
    .contact a:hover {
      color: #9d4646; }
  .contact form .form-control {
    background-color: #3e5871;
    border: 0;
    border-radius: 0;
    color: #fff;
    text-align: center; }
  .contact form input[type='submit'] {
    background-color: #16a085;
    border: 0;
    font-weight: 700;
    text-transform: uppercase; }
    .contact form input[type='submit']:hover {
      background-color: #107360; }
  .contact form .validation-warning {
    background-color: #9d4646;
    color: #fff; }
  .contact .confirmation {
    color: #16a085;
    padding: 20px 0;
    text-align: center; }
    .contact .confirmation i {
      display: block; }

.content-wraper {
  margin-top: 50px; }

.section-body {
  margin-top: 20px; }

.section-header {
  position: relative;
  padding-bottom: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  .section-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 170px;
    height: 2px;
    background-color: #3a0000;
    margin-left: -85px; }

#music {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px; }

nav {
  font-size: 14px;
  background-color: #3a0000;
  box-shadow: 0 2px 10px;
  border-bottom: #EBE9E6; }

.navbar-brand {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 20px; }

nav .navbar-header a {
  font-weight: 600;
  color: #fff;
  text-decoration: none; }

nav li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none; }

.navbar-toggle .icon-bar {
  background-color: #fff; }

.nav > li > a:hover {
  color: #9D4646;
  background-color: #3a0000; }

.navbar-toggle {
  border: none;
  background: transparent; }

.navbar-toggle:hover {
  background: transparent; }

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s; }

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.navbar-toggle .middle-bar {
  opacity: 0; }

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggle.collapsed .middle-bar {
  opacity: 1; }

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0); }

#social-icons li a {
  color: #3a0000; }

#social-icons .fa-inverse:hover {
  color: #16a085; }

#social-icons {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin-bottom: 20px; }

#social-icons li {
  display: inline; }

/**** Side Projects *****/
#side-projects {
  background-color: #7f8c8d;
  color: #fff;
  padding: 60px 0; }
  #side-projects .section-header:after {
    background-color: #f2f2f2; }
  #side-projects figure {
    margin: 0;
    position: relative;
    overflow: hidden; }
    #side-projects figure img {
      display: block;
      position: relative;
      height: 300px;
      max-width: 100%;
      transition: transform 0.4s; }
  #side-projects figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3e50;
    color: #ed4e6e;
    height: 60px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s; }
    #side-projects figcaption span {
      color: #fff;
      display: block;
      text-align: center; }
  #side-projects figure:hover img,
  #side-projects figure.cs-hover img {
    transform: scale(1.25); }
  #side-projects figure:hover figcaption,
  #side-projects figure.cs-hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s; }

#side-projects h2, #side-projects a {
  color: #fff; }

.soundcloud-likes {
  height: 300px;
  background-color: #7f8c8d; }

.personal-site {
  height: 300px;
  background-color: #7f8c8d;
  margin-top: 30px; }

.planning-poker {
  height: 300px;
  background-color: #7f8c8d; }

.stronger {
  height: 300px;
  background-color: #7f8c8d;
  margin-top: 30px; }

.technical-skills {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f4f5f5; }
  .technical-skills img {
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .technical-skills span.lead {
    display: block;
    font-weight: 700;
    text-align: center; }
  .technical-skills p {
    color: #1b0d0d;
    display: block; }
  .technical-skills .category {
    text-align: center; }
