{% extends "base.html" %}

{% block title %}
Danny Milsom | Home
{% endblock %}

{% block message %}
<div id="homepage">

  <section id="welcome-banner">
    <div class="container">
      <div id="welcome" class="row">
        <div class="col-xs-12 about-text"></div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="row">
        <div id="portfolio" class="featurette">
          <div class="section-header">
            <h2>About Me</h2>
            <p>Hello and welcome - I'm Danny!
          </div>
          <div class="section-body">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img class="skills-img img-responsive" title="GitHub"
                   src="/static/dannywebsite/images/stackoverflow.png"/>
              <span class="lead">Full Stack Developer</span>
              <p>I’m a full stack developer based in Bristol, who enjoys working with Open 
              Source technologies to build intuitive and scalable web applications.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img class="skills-img img-responsive" title="Trac plugins"
                   src="/static/dannywebsite/images/trac-logo.png"/>
              <span class="lead">Working at Potato</span>
              <p>For the last few months I've been enjoying life at 
              <a href="https://p.ota.to/">Potato</a>, building complex websites for
              large clients using Django on Google App Engine.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img class="skills-img img-responsive" title="Stack Overflow"
                   src="/static/dannywebsite/images/github.png"/>
              <span class="lead">Always Learning</span>
              <p>In my own time I use side projects as an opportunity to learn new 
              technologies, languages and frameworks. You can check them out on
              <a href="https://github.com/dannymilsom/">Githbub</a>.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img class="skills-img img-responsive" title="Blog"
                   src="/static/dannywebsite/images/blog.png"/>
              <span class="lead">Dog Lover</span>
              <p>Away from the keyboard I play football and support my hometown team,
              Bristol City. I also enjoy walking my dog and <a href="{{SOUNDCLOUD_URL}}"> 
              pretend to be a DJ</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="technical-skills">
    <div class="container">
      <div class="row">
        <div class="featurette">
          <div class="section-header">
            <h2>Skills</h2>
          </div>
          <div class="section-body">
            <div id="server-side" class="col-sm-3 col-md-6 skill-category">
              <img class="skills-img img-responsive" title="Server side technology"
                   src="/static/dannywebsite/images/server1-circle.png"/>
              <span class="lead">Server Side</span>
              <p class="skill-text col-sm-12">I'm fluent in object oriented, idiomatic 
                <a href="https://www.python.org/">Python</a>; and well versed in modern
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>
                and <a href="https://java.com/en/">Java</a> as server side languages. 
                Most of my commercial experience has been working with a LAPP stack, 
                which has helped me grow my expertise in a range of development envioronments 
                (<a href="http://www.redhat.com/products/enterprise-linux/">Red Hat 
                Enterprise Linux</a> / <a href="http://www.ubuntu.com/">Ubuntu</a>) 
                and relational databases (<a href="http://www.postgresql.org/">
                PostgreSQL</a> / <a href="http://www.sqlite.org/">SQLite</a>)</p>
            </div>
            <div id="client-side" class="col-sm-3 col-md-6 skill-category">
              <img class="skills-img img-responsive" title="Client side technology"
                   src="/static/dannywebsite/images/screen1-circle.png"/>
              <span class="lead">Client Side</span>
              <p class="skill-text col-sm-12">I have a strong working knowledge of HTML, CSS 
                and JavaScript; and have used these skills to build responsive, 
                mobile friendly and intuitive user interfaces. I've also taken 
                advantage of MVC frameworks such as <a href="http://backbonejs.org/">
                Backbone JS</a> to structure my JS applications, CSS pre-processors 
                including as <a href="http://lesscss.org/">LESS</a> to supercharge my 
                CSS, and a variety of other JS libraries to make my life easier 
                (<a href="http://jquery.com/">jQuery</a> / <a href="http://requirejs.org/">
                RequireJS</a> / <a href="http://underscorejs.org/">Underscore</a> etc).</p>
            </div>
            <div id="frameworks" class="col-sm-3 col-md-6 skill-category">
              <img class="skills-img img-responsive" title="Frameworks"
                   src="/static/dannywebsite/images/frame1-circle.png"/>
              <span class="lead">Frameworks</span>
              <p class="skill-text col-sm-12">I have a solid understanding and many years 
                experience using the <a href="https://www.djangoproject.com/">
                Django</a> web framework, having built a number of websites 
                using this technology. I have also written numerous plugins 
                and macros to extend the functionality of the 
                <a href="http://trac.edgewall.org/">Trac framework</a> during my 
                time at CGI, and utilised <a href="http://getbootstrap.com/"> 
                Twitter Bootstrap</a> both in professional capacity, and in my 
                own side projects.</p>
            </div>
            <div id="tools" class="col-sm-3 col-md-6 skill-category">
              <img class="skills-img img-responsive" title="Version control"
                   src="/static/dannywebsite/images/vcs1-circle.png"/>
              <span class="lead">Version Control</span>
              <p class="skill-text col-sm-12">I use DVCS such as <a href="http://git-scm.com/">
                Git</a> and more traditional VCS such as 
                <a href="http://subversion.apache.org/"> Subversion</a> on a daily 
                basis as part of my workflow, utilising the power of branching and 
                merging to support parallel development. Working in an agile team 
                I've also used configuration management tools such as 
                <a href="http://www.ansible.com/home">Ansible</a> and continuous 
                integration tools such as <a href="http://jenkins-ci.org/">Jenkins</a> 
                to reduce the burden of manual system administration and improve 
                the quality of deliverable software.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="side-projects">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <div class="section-header">
              <h2>Side Projects</h2>
              <p>In my own time I use side projects as an opportunity to learn new 
                technologies, languages and frameworks. These works in progress include  
                <a href="{{GITHUB_URL}}stronger">Stronger</a>, a 
                workout tracking tool built using Django; 
                <a href="{{GITHUB_URL}}distributed-poker">
                Distributed Poker</a>, a real time planning poker poker app built 
                using NodeJS/SocketIO; and 
                <a href="{{GITHUB_URL}}soundcloud-likes">Soundcloud-Likes</a>, 
                a single page application to discover new music built on Backbone.</p>
            </div>
            <div class="section-body">
              <div class="col-xs-12 col-sm-6 soundcloud-likes">
                <figure>
                  <img src=""/>
                  <figcaption>
                    <span><a href="{{GITHUB_URL}}soundcloud-likes">Soundcloud Likes</a></span>
                  </figcaption>
                </figure>
              </div>
              <div class="col-xs-12 col-sm-6 planning-poker">
                <figure>
                  <img src=""/>
                  <figcaption>
                    <span><a href="{{GITHUB_URL}}distributed-poker">Planning Poker</a></span>
                  </figcaption>
                </figure>
              </div>
              <div class="col-xs-12 col-sm-6 personal-site">
                <figure>
                  <img src=""/>
                  <figcaption>
                    <span><a href="{{GITHUB_URL}}dannymilsom.co.uk">Personal Site and Blog</a></span>
                  </figcaption>
                </figure>
              </div>
              <div class="col-xs-12 col-sm-6 stronger">
                <figure>
                  <img src=""/>
                  <figcaption>
                    <span><a href="{{GITHUB_URL}}dannymilsom/stronger">Stronger</a></span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section id="music">
    <div  class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-header">
            <h2>House Music</h2>
            <p>When I find the time I enjoying listening to house music and 
               mixing records with my Pioneer CDJ1000s. You can listen to some of my 
               sets which I've uploaded to <a href="{{SOUNDCLOUD_URL}}">
               soundcloud</a> over the last few years below:
            </p>
          </div>
          <div class="section-body">
            <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/102470549&amp;color=3A0000&amp;auto_play=false&amp;show_artwork=true"></iframe>
            <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/28527581&amp;color=3A0000&amp;auto_play=false&amp;show_artwork=true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-header">
            <h2>Let's Talk</h2>
            <p>If you'd like to get in touch, you can reach me on the usual channels
               or via good old fashioned email!</p>
          </div>
          <div class="section-body col-xs-12">
            <ul id="social-icons">
              <li>
                <a class="fa-stack fa-lg" href="{{ GITHUB_URL }}"
                   target="_blank" title="GitHub Profile">
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </a>
              </li>
              <li>
                <a class="fa-stack fa-lg" href="{{ STACKOVERFLOW_URL }}"
                   target="_blank" title="Stack Overflow Profile">
                  <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                </a>
              </li>
              <li>
                <a class="fa-stack fa-lg" href="{{ LINKEDIN_URL }}"
                   target="_blank" title="Linkedin Profile">
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </a>
              </li>
              <li>
                <a class="fa-stack fa-lg" href="{{ TWITTER_URL }}"
                   target="_blank" title="Twitter Account">
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </a>
              </li>
              <li>
                <a class="fa-stack fa-lg" href="{{ INSTAGRAM_URL }}"
                   target="_blank" title="Instagram Account">
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </a>
              </li>
            </ul>
            <div class="row">
              {% load crispy_forms_tags %}
              <form id="contact-us-form" action="" method="post">
                {% crispy form %}
              </form>
            </div>
            <div class="row">
              <div class="confirmation hidden col-xs-12">
                <i class="fa fa-check-square fa-5x"></i>
                <span class="message"></span>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
