<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}

    {% block css %}
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="{% static 'dannywebsite/css/vendor/bootstrap.min.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'dannywebsite/css/vendor/hover-min.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'dannywebsite/css/vendor/select2.css' %}"/>
      <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans|Waiting+for+the+Sunrise'>
      <link rel="stylesheet" type="text/css" href="{% static 'dannywebsite/css/layout.css' %}"/>
    {% endblock %}

    {% block header %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    {% load tags %}
    {% block nav %}
      {% include 'inc/nav.html' %}
    {% endblock %}
    <div id="content-wraper">
      {% block heading %}{% endblock %}

      {% block message %}{% endblock %}

      {% block photos %}{% endblock %}

      {% block pagination %}{% endblock %}
    </div>

    {% load staticfiles %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <script type="text/javascript" src="{% static 'dannywebsite/js/vendor/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dannywebsite/js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dannywebsite/js/layout.js' %}"></script>
    <script type="text/javascript" src="{% static 'dannywebsite/js/vendor/matchMedia.js' %}"></script>
  </body>
</html>