{% load tags %}

<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <a class="navbar-brand" href={% url 'homepage' %}>Danny Milsom</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a class="{% active request '^/blog' %}"
             href={% url 'latest_posts' %}>Blog</a>
        </li>
      </ul>
      <ul class="social-icons nav navbar-nav navbar-right hidden-xs">
        {% include 'inc/social-icons.html' %}
      </ul>
    </div>
  </div>
</nav>
