{% extends "base.html" %}

{% block title %}
Danny Milsom | About
{% endblock %}

{% block message %}
<div class="row-fluid">
   <div id="python" class="col-md-8 col-sm-9 col-xs-12 tags"><span>PYTHON</span></div>
   <div id="django" class="col-md-4 col-sm-3 col-xs-12 tags"><span>DJANGO</span></div>
   <div id="jquery" class="col-md-4 col-sm-3 col-xs-12 tags"><span>jQuery</span></div>
   <div id="javascript" class="col-md-8 col-xs-12 tags"><span>JavaScript</span></div>
   <div id="css" class="col-md-8 col-sm-9 col-xs-12 tags"><span>CSS</span></div>
   <div id="html" class="col-md-4 col-sm-3 col-xs-12 tags"><span>HTML</span></div>
   <div id="vcs" class="col-md-4 col-sm-3 col-xs-12 tags"><span>Version Control</span></div>
   <div id="database" class="col-md-8 col-sm-9 col-xs-12 tags"><span>Databases</span></div>
</div>
{% endblock %}