{% extends "base.html" %}

{% block title %}
Danny Milsom | Portfolio
{% endblock %}

{% block message %}
<div class-"row">
	<h3>Built Using Django</h3>
	<p>Over the last year I've created websites for myself and others using 
	the powerful django framework. Here are some examples.
	</p>

	<h3>Open Source Contributions</h3>
	<p>Most of my expertise is in Open Source technologies. 
	As such I like to give back to the community, particularly projects such 
	as Trac, Django and .... who I regularly use.
	</p>

	<h3>Other Scripts</h3>
	<p>Some of the smaller, more fun scripts I've written can be found on 
	my GitHub...</p>
</div>
{% endblock %}