{% extends "base.html" %}

{% block title %}
Danny Milsom | Python Blog Posts
{% endblock %}

{% block message %}
    {% for post in blog_list %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="http://oi59.tinypic.com/scupa1.jpg" class="img-circle img-responsive">
            </div>
            <div class="col-md-10">
                <h3><a href="/{{ post.slug }}">{{ post.title|upper }}</a></h3>
                {{ post.summary }}
                <a href="">Continue reading...</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}