{% extends "base.html" %}

{% block title %}
Danny Milsom | Home
{% endblock %}

{% block message %}
<div id="homepage">

  <section class="about">
    <div class="container">
      <div class="row">
        <div id="portfolio" class="featurette">
          <div class="section-header">
            <h2>Welcome!</h2>
            <p>Thanks for visiting - here's a little about me...</p>
          </div>
          <div class="section-body">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img class="skills-img img-responsive" title="GitHub"
                   src="/static/dannywebsite/images/stackoverflow.png"/>
              <span class="lead">Full Stack Developer</span>
              <p>I’m a full stack developer based in Bristol, who enjoys working with Open 
              Source technologies to build intuitive and scalable web applications.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img class="skills-img img-responsive" title="Trac plugins"
                   src="/static/dannywebsite/images/potato.png"/>
              <span class="lead">Working at Potato</span>
              <p>For the last year I've been enjoying life at 
              <a href="https://p.ota.to/">Potato</a>, building complex websites for
              large clients using Django on Google App Engine.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img class="skills-img img-responsive" title="Stack Overflow"
                   src="/static/dannywebsite/images/github.png"/>
              <span class="lead">Outside of Work</span>
              <p>In my own time I use side projects as an opportunity to learn new 
              technologies, languages and frameworks. You can check them out on
              <a href="https://github.com/dannymilsom/">Githbub</a>.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img class="skills-img img-responsive" title="Blog"
                   src="/static/dannywebsite/images/blog.png"/>
              <span class="lead">Other Interests</span>
              <p>Away from the keyboard I play football and support my hometown team,
              Bristol City. I also enjoy walking my dog and <a href="{{SOUNDCLOUD_URL}}"> 
              pretend to be a DJ</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="technical-skills">
    <div class="container">
      <div class="row">
        <div class="featurette">
          <div class="section-header">
            <h2>Skills and Experience</h2>
            <p>A brief overview of technical competencies and professional experience.</p>
          </div>
          <div class="section-body">
            <div class="col-xs-12 skill-category">
              <span class="lead">Potato London (Web Developer)</span>
              <p>For the last year my focus has been on writing
                secure and scalable web applications for huge clients including Google.
                Most of this technical work has centered around using Djangae, a Django fork
                built to support the schemaless NOSQL Datastore on Google App Engine.<p>

              <p>Away from writing Python, I've also helped to build intuitive
                single page apps using Backbone and AngularJS; adhering to the
                best practices of modern frontend web development.</p>
            </div>

            <div class="col-xs-12 skill-category">
              <span class="lead">CGI Group (Python Developer)</span>
              <p>For two years at CGI I worked with a small development team to
                build a configuration management tool which we delivered as a 
                SASS. This involved working with a range of Open Source technologies
                across the full stack, including Python, JavaScript, RHEL, PostgreSQL
                and Git. <p>

              <p>I was also pivital in the adoption of an agile approach to software development,
                building features into our product to support both Kanban and Scrum
                methodologies.</p>

              <p>Towards the end of my tenure at CGI, I also led the development
              team at CERT to build a django application which stored STIX
              (Structured Threat Information) in a Mongo database.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="side-projects">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <div class="section-header">
              <h2>Side Projects</h2>
              <p>In my own time I use side projects as an opportunity to learn new 
                technologies, languages and frameworks.</p>
            </div>
            <div class="section-body">
              <ul>
                <li>
                  <a href="{{GITHUB_URL}}stronger">Stronger</a>, a 
                  workout tracking tool built using Django.
                </li>
                <li>
                  <a href="{{GITHUB_URL}}distributed-poker">Distributed Poker</a>, 
                  a real time planning poker poker app built using NodeJS/SocketIO.
                </li>
                <li>
                  <a href="{{GITHUB_URL}}soundcloud-likes">Soundcloud-Likes</a>,
                  a single page application to discover new music built on Backbone.
                </li>
                <li>
                  <a href="{{GITHUB_URL}}poolbot">Poolbot</a>, a slack integration
                  to record pool game results.
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="music">
    <div  class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-header">
            <h2>House Music</h2>
            <p>When I find the time I enjoying listening to house music and 
               mixing records with my Pioneer CDJ1000s. You can listen to some of my 
               sets which I've uploaded to <a href="{{SOUNDCLOUD_URL}}">
               soundcloud</a> over the last few years below:
            </p>
          </div>
          <div class="section-body">
            <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/102470549&amp;color=3A0000&amp;auto_play=false&amp;show_artwork=true"></iframe>
            <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/28527581&amp;color=3A0000&amp;auto_play=false&amp;show_artwork=true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-header">
            <h2>Let's Talk</h2>
            <p>If you'd like to get in touch, you can reach me on the usual channels
               or via good old fashioned email!</p>
          </div>
          <div class="section-body col-xs-12">
            <ul class="social-icons">
              {% include 'inc/social-icons.html' %}
            </ul>
            <div class="row">
              {% load crispy_forms_tags %}
              <form action="" method="post" autocomplete="off">
                {% crispy form %}
              </form>
            </div>
            <div class="row">
              <div class="confirmation hidden col-xs-12">
                <i class="fa fa-check-square fa-5x"></i>
                <span class="message"></span>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
