/***** General Layout  *****/

html { overflow-y: scroll; }

body {
  background-color: #fff;
  background-repeat: repeat;
  font-family:"Open Sans", sans-serif;
  font-size: 14px;
}

#content-wraper { margin-top: 50px; }

/***** Common Element Styling *****/

h1, h2, h3, h4, h5, h6 { color: #3A0000; text-align: center;}

h1, h2 { font-weight: 700; }

.section-header {
  position: relative;
  padding-bottom: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.section-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 170px;
  height: 2px;
  background-color: #3A0000;
  margin-left: -85px;
}

.section-body{
  margin-top: 20px;
}

h1: a:visited, h2 a:visited { color: #B22222; }

h3 a {color: #3A0000; }

a { color: #3A0000; text-decoration: underline; }

a:focus { outline: none;}

a:hover { color: #9D4646; }

a.active { text-decoration: underline; }

p {
  line-height: 1.6;
  text-align: center;
}

blockquote {
  font-size: 16px;
  border-left: 8px solid #9D4646;
}

.textinput { margin-bottom: 5px; }

.textarea { margin-bottom: 5px; }

/***** Util Classes *****/

.block { display: block; }

.hidden { display: none; }

.focused {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

/***** Navigation *****/

nav {
  font-size: 14px;
  background-color: #3A0000;
  box-shadow: 0 2px 10px;
  border-bottom: #EBE9E6;
}

.navbar-brand {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 20px;
}

nav .navbar-header a {
  font-weight: 600;
  color: #FFF;
  text-decoration: none;
}

nav li a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-toggle .icon-bar {
  background-color: #FFF;
}

.nav > li > a:hover {
  color: #9D4646;
  background-color: #3A0000;
}

.navbar-toggle {
  border: none;
  background: transparent;
}
.navbar-toggle:hover {
  background: transparent;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

#social-icons li a { color: #3A0000; }

#social-icons .fa-inverse:hover { color: #16a085; }

#social-icons {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin-bottom: 20px;
}

#social-icons li { display: inline; }

/***** About Me *****/

#welcome-banner { 
  background: url('http://s3.amazonaws.com/usersthink/06-large.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 1000px;
}

#about { margin-bottom: 20px; }

#about p { color: #1B0D0D; }

#about img {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

/***** Skills and Portfolio *****/

#about {
  background-color: #fff;
  padding: 60px 0;
}

.skills-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about span.lead, #technical-skills span.lead {
  display: block;
  font-weight: 700;
  text-align: center;
}

#about img, #technical-skills img {
  width: 25%;
  margin-bottom: 10px;
}

.skill-text { display: block; }

.skill-category { text-align: center; }

.skill-category .skill-text { color: #1B0D0D; }

#about .show-skills-text { display: block; }

#technical-skills {
  background-color: #f4f5f5;
  padding: 60px 0;
}

.lead { font-size: 18px; }

/**** Side Projects *****/

#side-projects {
  background-color: #7f8c8d;
  color: #fff;
  padding: 60px 0;
}

#side-projects h2, #side-projects a { color: #fff; }

.soundcloud-likes {
  height: 200px;
  background-color: #ccc;
}

.personal-site {
  height: 200px;
  background-color: #fff;
}

.planning-poker{
  height: 200px;
  background-color: #000
}

.stronger {
  height: 200px;
  background-color: #aaa;
}

/**** Music *****/

#music {
  background-color: #f2f2f2;
  padding: 60px 0;
}

/***** Contact Me *****/

#contact {
  background-color: #2c3e50;
  padding: 60px 0;
  color: #fff;
}

#contact h2 { color: #fff; }

#contact a {
  text-decoration: underline;
  color: #fff;
}

#contact a:hover { color: #9D4646; }

#contact-intro { margin-bottom: 20px; }

#contact-us-form .form-control {
  border-radius: 0;
  border: none;
  text-align: center;
  background-color: #3e5871;
  color: #fff;
}

#contact-us-form input[type='submit'] {
  background-color: #16a085;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

#contact-us-form input[type='submit']:hover {
  color: #000;
}

#contact-us-success { color: #003A00; }

#warning-message { text-decoration: underline; }

#contact-us-form .validation-warning {
  background-color: #9D4646;
  color: #fff;
}

.confirmation { text-align: center; padding: 20px 0;}

.confirmation i { display: block; }

/***** BLOG PAGES *****/

#pagination {
  text-align: center;
  margin: 10px 0;
}

.post_metadata {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
}

.post-previous, .post-next { 
  font-size: 0;
  margin: 0 15px;
 } 

.post-previous::before { 
  content: "\2190";
  font-size: 14px;
  display: inline;
} 

.post-next::after {
  content: "\2192";
  font-size: 14px;
}

.post-list { margin-bottom: 10px; }

.post-title {
  color: #3A0000;
  font-size: 18px;
  display: block;
  text-decoration: none;
}

a span.post-date { text-decoration: none; }

.post-date {
  font-weight: lighter;
  color: #808080;
  font-size: 14px;
}

.post-summary { 
  color: #333;
  border-bottom: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.post-summary h1 { font-size: 30px; }

.post-summary h2 { font-size: 24px; }

.post-summary-text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #333;
}

.blog-post-summary { margin-bottom: 5px; }

#blog_search { margin-bottom: 40px; }

#current_page_link { text-decoration: underline; }

#site-search {
  margin: 20px 0 40px;
  width: 100%;
}

#post-not-found img { margin-bottom: 20px; }

#blog-comments { margin-top: 20px; }

/***** CODE SNIPPETS *****/

pre {
  border: none;
  background-color: #EBE9E6;
  word-wrap: normal;
  overflow: auto;
}

.date {
  color: #999999;
  font-weight: 400;
}

.tags {
  border: 2px solid #EEE;
  height: 200px;
  font-size: 30px;
  color: #FFF;
  text-align: center;
  line-height: 200px;
  background-size: cover;
  cursor: pointer; 
}

.tags span:first-child {
  opacity: 0;
  font-weight: bold;
  color: #92131C;
}

/***** Media Queries *****/

@media(min-width: 600px){
  #portolio img { width: 50%; }
}

@media(max-width:767px){
  nav .navbar-header a { padding-left: 15px !important; }

  .post-list h3 { text-align: left; }

  #about p, #blog { padding: 0 15px; }
}

@media(min-width:768px){
  h1, h2 {
    display: block;
    font-weight: 600;
  }
  .post-previous, .post-next { font-size: 14px; }

  .blog-post-summary img.img-responsive { width: 55%; }

  #about .featurette { position: relative; }

  #about img { width: 15%; }

  .skill-category { margin-bottom: 20px; }

  #about img, #technical-skills img { width: 50%; }

  div.row.featurette { margin-bottom: 20px; }

  .lead { font-size: 16px; }
}

@media(min-width:992px){
  .blog-post-summary img.img-responsive { width: 30%; }

  .skill-info { top: 95px; }

  #about img, #technical-skills img { width: 30%; }

  div.row.featurette { margin-bottom: 0px; }

  #skills #portfolio img { width: 45%; }
}

@media(min-width:1200px){
  .blog-post-summary img.img-responsive { width: 80%; }

  #about img { width: 30%; }

  #technical-skills img { width: 25%; }

  .skill-info { top: 85px; }

  #about #portfolio img { width: 40%; }
}
